* {
  outline: none;
}
html,
body {
  background-color: #333;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
#generate {
  border: none;
  border-bottom: 1px solid #fff;
  color: yellow;
  background-color: black;
}
#generate:active {
  background-color: red;
}
.post {
  position: absolute;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: #777;
  box-shadow: 0 0 20px 0 #000a;
  width: 200px;
}
